## Examen de rattrapage module 2-data science
- Date de soumission: `Mardi 05 septembre 2023 à 12 H`.

#### For this exam you should work on blood cells dataset which include different types of blood cells. The final objective is to train a CNN model to classify blood cells. 
The database can be found here: 
- [blood cells dataset](https://drive.google.com/file/d/1zdBjXo_ebeUb24RXzmJw64d5JxabMJg5/view?usp=drive_link)
- The following cells are found in dataset: ['basophil', 'eosinophil', 'erythroblast', 'ig', 'lymphocyte', 'monocyte', 'neutrophil', 'platelet']. ig = immature granulocyte.

In [1]:
# Import packages here

### **Part 1:** **Exploring dataset**

**Task 1.1:** Create a list named `blood_cells` with all the image files. You can use glob package.

In [3]:
# Verify the lenght of blood_cells list. It will normaly contain all the links of each individual image 
assert len(blood_cells) == 17092

**Task 1.2:** Create a dataframe `df`respecting the following conditions:
- Rows are the links to images
- The only variable name should be `file_link`

                                               file_link
0      C:/Users/DDD/Downloads/blood_cells_dataset\blo...
1      C:/Users/DDD/Downloads/blood_cells_dataset\blo...
2      C:/Users/DDD/Downloads/blood_cells_dataset\blo...
3      C:/Users/DDD/Downloads/blood_cells_dataset\blo...
4      C:/Users/DDD/Downloads/blood_cells_dataset\blo...
...                                                  ...
17087  C:/Users/DDD/Downloads/blood_cells_dataset\blo...
17088  C:/Users/DDD/Downloads/blood_cells_dataset\blo...
17089  C:/Users/DDD/Downloads/blood_cells_dataset\blo...
17090  C:/Users/DDD/Downloads/blood_cells_dataset\blo...
17091  C:/Users/DDD/Downloads/blood_cells_dataset\blo...

[17092 rows x 1 columns]

**Task 1.3:** Write a for loop function allowing you to set up a dataframe named `blood_cells_dataset` with 3 columns from `blood_cells` list. These columns should be respectively:
- Directory (name should be `Directory`) of images with or without sub-directory(for example: C:/Users/DDD/Downloads/blood_cells_dataset)
- Type of blood cell (name should be: `Type_blood_cell, for example: basophil)
- The identification number (named `id`) of images (for example: BA_100102)

In [5]:
# This is an incomplete example 
Directory = []
Type_blood_cell = []
id = []
for file in blood_cells:
    dir = ...
    cell = ...
    identification = ...
    ...

**Task 1.4:** State the different types of cells and their proportion in the blood_cells_dataset

**Task 1.4:** Write a function named `wrangle` to create a dataframe comprising the following columns:
- Directory
- Type_blood_cell
- id

**Task 1.6:** Create the dataframe named `data` using `wrangle function` developped above. The columns named are`Directory`,`Type_blood_cell`, `id`

,Directory,Type_blood_cell,id
0,C:/Users/DDD/Downloads/blood_cells_dataset\blo...,basophil,BA_100102
1,C:/Users/DDD/Downloads/blood_cells_dataset\blo...,basophil,BA_101381
2,C:/Users/DDD/Downloads/blood_cells_dataset\blo...,basophil,BA_101611
3,C:/Users/DDD/Downloads/blood_cells_dataset\blo...,basophil,BA_102039
4,C:/Users/DDD/Downloads/blood_cells_dataset\blo...,basophil,BA_102750
...,...,...,...
17087,C:/Users/DDD/Downloads/blood_cells_dataset\blo...,platelet,PLATELET_997286
17088,C:/Users/DDD/Downloads/blood_cells_dataset\blo...,platelet,PLATELET_998559
17089,C:/Users/DDD/Downloads/blood_cells_dataset\blo...,platelet,PLATELET_999701
17090,C:/Users/DDD/Downloads/blood_cells_dataset\blo...,platelet,PLATELET_999873
17091,C:/Users/DDD/Downloads/blood_cells_dataset\blo...,platelet,PLATELET_999931

In [9]:
assert data.shape == (17092, 3)

### **Part 2:** **Training CNN algorithm to identify blood cells**

**Task 2.1:** Print the first and the last image of blood_cells dataset

**Task 2.2:** Use tensorflow dataset method to create the training dataset named `train_ds`with 80% of images and the validation dataset named `val_ds`with 20% of images.

**Task 2.3:** Complete a for loop to print 10 random images from `train_ds`. You should print images and corresponding labels.

In [ ]:
import matplotlib.pyplot as plt
from PIL import Image, ImageEnhance

plt.figure(figsize=(..., ...))
for ..., ... in training_ds.take(1):
    for i in range(...):
        ax = plt.subplot(..., ..., i + 1)
        plt....(images[i].numpy().astype("uint8"))
        plt.title(class_names[labels[i]])
        plt.axis("off")

**Task 2.4:** Set up a CNN architecture to train a model in order to classify blood cells

**Task 2.5:** Train your model and show the learning curve of the model

**Good luck**